// app global css in SCSS form
@font-face {
  font-family: poppinsRegular;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppinsLight;
  src: url(./fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: poppinsThin;
  src: url(./fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: poppinsBold;
  src: url(./fonts/Poppins-Bold.ttf);
}

.poppinsRegular {
  font-family: poppinsRegular, serif;
}

.poppinsLight {
  font-family: poppinsLight, serif;
}

.poppinsThin {
  font-family: poppinsThin, serif;
}

.poppinsBold {
  font-family: poppinsBold, serif;
}

.bgGlobal {
  background-color: #F7F7F7;
}

.bgGrey {
  background-color: #F6FAFF;
}

.button {
  border-radius: 0.4em;
  width: 9em;
  height: 3em;
}

.followButton {
  border-radius: 1em;
  width: 8em;
  font-size: 0.9em;
}

.scrollAreaHorizontal {
  height: 21em;
  width: 100%;
}

.cardExterior {
  background-color: #FCFCFC;
}

.cardSectionInterior {
  border-radius: 0.3em;
  background: #393e46;
}

.cardUserImage {
  height: 3em;
  max-width: 3em;
  border-radius: 2em;
  border: 2px solid #FAFAFA;
}

.cardCoverImage {
  border-radius: 0.5em;
}

.cardUserCP {
  color: grey;
  line-height: 0.5em;
  font-size: 0.8em
}

.cardLikesCP {
  color: red;
  line-height: 0.5em;
  font-size: 0.8em
}

.cardProjectNumber {
  color: grey;
  line-height: 0.5em;
  font-size: 1em
}

.cardProjectExterior {
  border-radius: 1em;
  width: 10em;
  line-height: 0.1em;
  height: 15.5em;
  background-color: #F6FAFF
}

.cardProjectSectionInterior {
  border-radius: 1em;
  background: #ebe9e7;
}

.scrollProjectAreaHorizontal {
  height: 18em;
  width: 100%;
}

.scrollProjectCreatorsAreaHorizontal {
  height: 16em;
  width: 100%;
}

.showcaseImage {
  height: 4em;
  max-width: 4em;
  border-radius: 0.5em;
  border: 0.1em solid #FAFAFA;
}

.scrollTagsHorizontal {
  height: 4em;
}

.cardProfileImage {
  height: 7.5em;
  max-width: 7.5em;
  border-radius: 5em;
  border: 0.1em solid #FAFAFA;
}

.createButton {
  border-radius: 0.4em;
  width: 12em;
  font-size: 0.9em;
  height: 4em
}

.chooseModerateButton {
  height: 5em;
  font-size: 0.9em;
  border-radius: 1em;
}

.startAppButton {
  width: 20em;
  height: 4em;
  font-size: 0.9em;
  border-radius: 0.5em;
}

.acceptModerateButton {
  width: 10em;
  height: 5em;
  font-size: 0.9em;
  border-radius: 0.5em;
}


.publishCardDetailsBottom {
  background-color: #F7F7F7;
  border: 0.1em solid #A3CAF6;
  height: 5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
